{% extends "base.html" %}
{%load static%}
{% block content %}
<section id="carousel">
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			{%for advert in adverts%}
			{%if advert == adverts.first%}
			<button class="active indicator" type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="{{forloop.counter | add:-1}}" aria-current="true"
				aria-label="Slide {{forloop.counter | add:-1}}"></button>
			{%else%}
			<button class="indicator" type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="{{forloop.counter | add:-1}}"
				aria-label="Slide {{forloop.counter | add:-1}}"></button>
			{%endif%}
			{%endfor%}

		</div>
		<div class="carousel-inner">
			{% for ads in adverts%}
			{% if ads == adverts.first %}
			<div class="carousel-item  active" data-bs-interval="4000">
				<img src="{{ads.advert_img.url}}" class="d-block w-100" alt="advert {{forloop.counter | add:-1}}">
			</div>
			{%else%}
			<div class="carousel-item" data-bs-interval="4000">
				<img src="{{ads.advert_img.url}}" class="d-block w-100" alt="advert {{forloop.counter | add:-1}}">
			</div>
			{%endif%}

			{%endfor%}
		</div>
	</div>
</section>

<section class="supportInfo">
	<div class="row justify-content-center">
		<div class="col-md-11 col-8">
			<!-- <img class="img-fluid" src="{%static 'images/home/customer-support1.png'%}" alt="support info"> -->
			<img class="img-fluid" src="{%static 'images/home/customer-support.svg'%}" alt="support info">
		</div>
	</div>
</section>


<section class="utilities" id="pay-bills">
	<h2 class="text-center mb-0"> Pay Utilities</h2>
	<p class="my-0 utility-subtitle">Top deals</p>
	<div class="scroll-container">
		{% for utility in utilities %}
		<div class="utility-info">
			<a class="utility-anchor" href="{% url 'utility-payment' utility_category=utility.utility_code %}">
				<img class="imageDiv" src="{{utility.utility_image.url}}" />
				<h4 class="utility-name">{{utility.utility_name}}</h4>
			</a>
		</div>
		{%endfor%}
	</div>
	<!-- <button type="button" class="c-btn next" aria-label="Go to next"><svg viewBox="0 0 24 24" class="ic" width="24"
			height="24"></svg> NEXT</button> -->
</section>

<section class="search-section text-center">
	<div>
		<h2>Search Estates</h2>
	</div>
	<div class="row justify-content-center">
		<div class="col-10">
			<div class=" search-bar2">
				<form class="d-flex sec-search-bar " role="search" action="{% url 'search-prod-page' %" method="get">
					{% csrf_token %}
					<input name="" class="form-control sec-search-area" type="search"
						placeholder="Search for Shops & Vendors" aria-label="Search" />
					<button class="sec-search-btn" type="submit">
						<i class="fa-solid fa-magnifying-glass" style="color: #ffffff"></i>
					</button>
				</form>
			</div>
		</div>
	</div>
	<div>
		<h5 class="search-sec-subtitle #text-lowercase">
			SELECT STORES AND VENDORS IN YOUR ESTATE
		</h5>
	</div>
</section>

<section class="produce">
	<div class="">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="img-fluid produce-container">
					<img class="img-fluid w-100" src="{%static 'images/home/food-section.svg'%}" alt="">
				</div>
			</div>
		</div>
	</div>

</section>


<section class="appliances ">
	<h2 class="my-0 appliances-title">Home <br> &nbsp&nbsp Appliances</h2>
	<p class="my-0 text-end appliances-subtitle">Hot deals</p>
	<div class="py-0 scroll-container ">
		{% for appliance in appliances %}
		<div class="utility-info">
			<a class="utility-anchor" href="{% url 'product-details' product_name=appliance.appliance_name %}">
				<img class="imageDiv appliance-img-div" src="{{appliance.appliance_image.url}}" />
				<h4 class="lh-1 utility-name">{{appliance.appliance_name}}</h4>
				<p class="line-space "><span class="old-prod-price">₦{{appliance.old_price}}</span> <span
						class="product-price">₦{{appliance.current_price}}</span>
				</p>
			</a>
		</div>
		{%endfor%}
	</div>
</section>



{% endblock content %}