



:root {
    --color-bg: #f6f6f6;
    --color-bg2: #e7f6e7;
    --color-bg3: #f4fbf4;
    --color-primary: #A52A2A;
    --color-primary2: #6D1616;
    --color-primary3: #EEEEEE;
    --color-primary4: #942E2E;
    --color-white: #ffffff;
    --color-black: #111111;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Jost', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: var(--color-white);
    overflow-x: hidden;
    height: 100%;
}


/* Navbar / Header */

header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    transition: 0.5s;
}
header.hide {
    transform: translateY(-100%);
}


.navbar-one{
    background-color: var(--color-primary);
    width: 100%;
    padding: 0 2% .5% 2%;
}.navbar-two{
    background-color: var(--color-white);
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px #e6e6e6;
}

.nav-logo{
    width: 6rem;
}

.nav-search-bar{
    width: 420.5px;
    height: 28.5px;
    margin: auto 0;
}.nav-search-btn{
    width: 50px;
    background-color: var(--color-primary2);
    border: none;
}.search-area{
    border-radius: 0;
    font-size: 12px;
    background-color: var(--color-primary3) !important;
    box-shadow: none !important;
    border-color: var(--color-primary3) !important ;
}

.search-container{
    display: flex;
    justify-content: center;
}
.profile-container{
    display: flex;
    justify-content: flex-end;
}
.nav-collapse-container{
 padding-left: 12px;
}


.profile-icon{
    width: 20px;
    height: 20px;
    margin-left: 11px;
}.cart-number-display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary2);
    width: 16px;
    color: white;
    font-size: .7rem;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: .7vw;
}.fav-number-display{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 16px;
    color: white;
    font-size: .7rem;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 4.6vw
}


.nav-link{
    color: black !important;
    font-size: 14px;
}

.toggler-btn{
 font-size: 1.3rem;
}



.searchBox, .searchBtn, .closeBtn {
    display: none;
    margin: 0 2%;
}


/* Footer */

footer{
    margin-top: 7%;
    padding: 0 3%;
    background-color: var(--color-primary4);
    /* background-image: url("../images/base/JustPoint-logo.svg"); */
}
.footer-logo{
    width: 100px;
    margin-bottom: 15px;
}
.footer-title{
    color: #EAE8E8;
    font-size: 20px;
    font-weight: bold;
    /* padding-left: 2%; */
}
.footer-content{
    color: #EAE8E8;
    font-size: 13px;
    /* padding-left: 2%; */
}.copyright{
    font-size: 10px;
    color: white;
}


.newsletter-form {
    border-bottom: 2px var(--color-white) solid;
    /* width: 65%; */
    color: var(--color-white);
}
.subscribe-form{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    
}
.email-input {
    width: 300px;
    background-color: transparent;
    color: var(--color-white);
    box-shadow: none !important;
    border-color: transparent !important;
    outline: none !important;
    font-size:medium;
    line-height:0 !important;

    
}
.newsletter-button{
    background-color: transparent;
    color: var(--color-white);
    box-shadow: none !important;
    border-color: transparent !important;
    font-size: xx-large;
    line-height:0 !important;
}

.terms-privacy{
    margin-top: 4%;
}


/* Index Page */

.carousel{
    padding-top: 80px;
    margin: 0 2%;
}.indicator{
    background-color: var(--color-primary2) !important;
}

.supportInfo{
    margin-top: 7%;
    /* margin-top: 5vh; */
    display: flex;
    justify-content: center;
}

/* scroll section */

.utilities{
    margin-top: 5%;
    /* margin-top: 7vh; */
    padding-top: 5px;
    background-color: var(--color-bg);
}
.scroll-container {
    background-color: var(--color-bg);
    overflow: auto;
    white-space: nowrap;
    padding: 5px 13px 13px 13px;
  }.imageDiv{
    width: 20vw;
    height: 15.5vw;
    margin-right: 1vw;
  }

    .utility-info{
        display:inline-block;
        text-align: center;

    }.utility-name{
        position:static;
        font-weight:bold;
        color: #111111;
        /* font-size: 1rem; */
        font-size: 1.3vw;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;  
        margin-bottom: 0; 
    }
    .utility-subtitle{
        margin-left: 2%;
    }
    .utility-anchor{
        text-decoration: none; 
    }
    /* search section */
    .search-section{
        margin-top: 7%;
        /* margin-top: 5vh; */
    }.search-bar2{
        display: flex;
        justify-content: center;
    }
    .sec-search-bar{
        width: 708px;
        height: 40px;
        margin: auto 0;
    }.sec-search-btn{
        width: 60px;
        background-color: var(--color-primary);
        border: none;
        margin-left: 4px;
    }.sec-search-area {
        font-size: 14px;
        background-color: var(--color-primary3) !important;

        box-shadow: none !important;
        border-color: var(--color-primary3) !important ;



    }.search-sec-subtitle{
        margin-top: 10px;
        font-size: 14px;
    }

    /* produce section */

    .produce{
        /* margin: 5% 2% 0 2%; */
        /* margin-top: 5vh; */
        margin-top: 7%;
    }
    
    /* .produce-container{
        background-image: url("../images/home/food-section-background.svg");
        object-fit: cover;
        height: 572px !important;
        padding: 0 2%;
    } */
 
    /* appliances section */

    .appliances{
        margin-top: 7%;
    }.appliances-title{
        line-height:0.9;
        margin-left: 2% ;
        font-size: 32px;
        font-weight: bold;
    }.appliances-subtitle{
        /* position:absolute; */
        font-size: 11px;
        color: #FF0000;
        margin-right: 5%;
    }
    .product-price{
        text-decoration: none;
        position:static;
        /* font-weight:bold; */
        color: #111111;
        font-size: .8rem;
        /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        text-align: center;
    }.old-prod-price{
        text-decoration:line-through;
        font-size: .7rem;
        color: var(--color-black);
    }

    .line-space{
        line-height: 1;
    }
   

@media only screen and (min-width: 1130px){

    .cart-number-display {
        top: 10px;
        right: 1.2vw;
    }.fav-number-display {
        top: 10px;
        right: 3.9vw ;
    }
}


@media only screen and (max-width: 768px) {

    .footer-title{
        font-size: 15px ;
    }.email-input {
        width: 240px;
    }

    .nav-logo{
        width: 5rem;
    }
    .searchBox, .search-icon, .close-icon {
        display: inline-block;
    }

    .searchBox {
        position: absolute;
        top: 2%;
        right: -150%;
        width: 100%;
        /* height: 100%; */
        display: flex;
        background-color: var(--color-primary);
        align-items: center;
        transition: 0.5s ease-in-out;
        border-bottom: 1.5px solid var(--color-white);
        padding-top: 14px;
        padding-right: 2%;
    }

    .searchBox.active {
        right: 0;
    }

    .searchBox input {
        width: 100%;
        border: none;
        outline: none;
        color: var(--color-white);
        font-size: .8rem;
        font-weight: 200;
        padding: 0 1rem;
        background-color: var(--color-primary);
    }

    ::placeholder {
        color: #c8c8c8;
        font-weight: 400;
    }




    .search-bar {
        display: none;
    }
    .searchBtn {
        display: inline-block;
        position: relative;
    }

    .searchBtn.active {
        opacity: 0;
        visibility: hidden;
    }

    .closeBtn {
        opacity: 0;
        display: none;
        /* width: 18px; */
    }

    .closeBtn.active {
        opacity: 1;
        display: inline-block;
        transition: 0.5s;
        scale: 1;
        width: 16px;
    }

    .profile-icon{
        width: 18px;
        height: 18px;
        margin-left: 7px;
    }



    .cart-number-display {
        top: 2px;
        right: .5vw;
    }

    .fav-number-display {
        top: 2px;
        right: 29px !important;
    }
    .sec-search-bar{
        width: 708px;
        height: 30px;
    }.sec-search-area {
        font-size: 10px;
    }.sec-search-btn{
        width: 50px;
    }.search-sec-subtitle {
        margin-top: 10px;
        font-size: 11px;
    }

    .utility-subtitle{
        font-size: 10px;
    }
    .utility-name{
        font-size: .55rem;
        
    }
    .product-price{
        font-size: .5rem
    }.old-prod-price{
        font-size: .45rem;
    }

    .appliances-title {
        font-size: 20px;
    }
    .appliance-img-div{
        width: 30vw;
        height: 25vw;
        margin-right: 1vw;
      }

    .line-space{
        line-height: 0.5 !important;
    }


    .supportInfo{
        /* margin-top: 7%; */
        margin-top: 5vh;
    }.utilities{
        /* margin-top: 5%; */
        margin-top: 5vh;
    }.search-section{
        margin-top: 7vh;
    }.produce{
        /* margin: 5% 2% 0 2%; */
        margin-top: 7vh;
    }.appliances{
        margin-top: 5vh;
    }.footer{
        margin-top: 7vh;
    }

}






        






/*  */