{% extends "base.html" %}
{%load static%}
{% block content %}

<section class="top">
    <h2 class="text-center mb-3 shop-vendor-title ">Products in {{shop_name}} ({{shop_type}})</h2>

    <div class="row justify-content-center mb-md-4 mb-3">
        <div class="col-10 px-0 position-relative">
            <div class=" search-bar2">
                <form class="d-flex position-relative sec-search-bar " role="search"
                    action="{% url 'search-page' shop_name=shop_name %}" method="get">
                    <input id="{{shop_name}}" style="border-radius: 0;" name="search-query"
                        class="form-control sec-search-area stopEnterSubmit searchInput" type="search"
                        data-search-loc="products" placeholder="Search items from this {{shop_type}}"
                        aria-label="Search" />
                    <i class="bi bi-x cancelSearchBtn" hidden></i>
                    <button class="sec-search-btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff"></i>
                    </button>
                    <input hidden name="search-location" value="products" />
                    {% csrf_token %}
                </form>
            </div>
            <div class="mt-1 d-flex justify-content-center">
                <div style="height:auto; background-color: var(--color-primary3);" class="searchResultDropdown" hidden>
                    <ul class="list-unstyled px-3 product-font">

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-2 mb-md-5 mb-4 text-cente">
        <span style="font-size: 20px;" class="font-monospace fw-bold">Sort By:</span>
        {%for category in category_dict.keys %}
        <a class="text-decoration-none me-2 py-sm-2 py-1 airtime-btn product-font" href="#{{category}}">
            {{category}}
        </a>
        {%endfor%}
    </div>

    <div class="row">
        {% for key,value in category_dict.items %}
        {%if key != "categories"%}
        <p class="ms-2 mb-1 fw-bold" id="{{key}}">{{key}} Section:</p>
        {%for prod in value%}
        <div class="col-md-2 col-sm-3 col-4 mb-3 product-font">
            <div class="mb-0">
                <div class="prod-img">
                    <!-- <img class="prod-img" src="{{prod.product_img.url}}" alt=""> -->
                </div>
                <p class="mb-0 text-center text-truncate">{{prod.name}}</p>
            </div>
            <div class="fav-car-container ">
                <!-- <div style="width: 50px;"> -->
                <!-- <i class="bi bi-heart me-sm-3 me-1"></i> -->
                <i id="{{prod.pk}}" data-fav-type="product"
                    class="bi {% if prod in fav_products%} bi-heart-fill {%else%} bi-heart {%endif%} me-sm-3 me-1 addToFav"></i>
                <p style="line-height: 1;" class="font-monospace mb-2 me-sm-3 me-1">₦{{prod.price}}</p>

                <i id="{{prod.pk}}" data-trigger="icon" data-product-type="product"
                    class="bi {%if prod.name in cart.product_names %}bi-cart-check-fill{%else%}bi-cart{%endif%} addToCart"></i>
                <!-- </div> -->
            </div>
        </div>
        {%endfor%}
        {% endif %}
        {%endfor%}
    </div>

</section>

{% endblock content%}