{% extends "header.html" %}
{%load static%}
{% block content %}

<section class="top mx-ld-5 mx-sm-4 mx-2">
    <div class="row">
        <div class="col-12 col-lg-8 mb-4">
            <div class="cart-items-container px-sm-4 px-2">
                <h2 class="d-inline cart-items-title item-font">CART ITEMS</h2>
                {%if cart.num_of_item > 0%}
                <a href="{% url 'delete-cart' %}"
                    class="text-decoration-none fw-normal airtime-btn clear-cart-btn py-1 px-2 item-font">CLEAR
                    CART</a>
                {%endif%}
                <hr class="title-line">
                <div class="list">
                    {%for key,value in cart_items.items%}
                    {% if key == "products" and value|length > 0 %}
                    <p class="fw-bold mb-0 items-category-font">Estate:</p>
                    {%for item in value%}
                    <div class="mb-3 cart-item" id="main_item_{{item.product.id}}">
                        <div class="item-name text-dark text-truncate">
                            <img style="width:70px;height: 20px;" src="{{item.product.product_img.url}}" alt="">
                        </div>
                        <div class="item-name text-dark text-wrap item-font">
                            {{item.product.name}}
                        </div>
                        <div class="item-price text-dark item-font">
                            {{item.product.price|currency}}
                        </div>
                        <div class="d-flex justify-content-center item-quantity quantity-container">
                            <button style="padding: 0 7px;" data-product-type="product" id="{{item.product.id}}"
                                class="volume-btn rmFromCart fw-bold">-</button>
                            <span class="mx-1 item-font" id="main_quantity{{item.product.id}}">{{item.quantity}}</span>
                            <button data-product-type="product" id="{{item.product.id}}"
                                class="volume-btn addToCart py-0 fw-bold" value="increase">+</button>
                        </div>

                    </div>
                    {% endfor %}
                    {%elif key == "home_appliances" and value|length > 0 %}
                    <p class="fw-bold mb-0 mt-4 items-category-font">Home Appliance:</p>
                    {%for item in value%}
                    <div class="mb-2 cart-item" id="main_item_{{item.home_appliance.id}}">
                        <div class="item-name text-dark text-truncate">
                            <img style="width:100px;height: 60px;" src="{{item.product.home_appliance_img.url}}" alt="">
                        </div>

                        <div class="item-name text-dark text-wrap item-font">
                            {{item.home_appliance.name}}
                        </div>
                        <div class="item-price text-dark item-font">
                            {{item.home_appliance.price|currency}}
                        </div>
                        <div class="d-flex justify-content-center item-quantity quantity-container">
                            <button style="padding: 0 7px;" data-product-type="appliance"
                                id="{{item.home_appliance.id}}" class="volume-btn rmFromCart fw-bold">-</button>
                            <span class="mx-1 item-font"
                                id="main_quantity{{item.home_appliance.id}}">{{item.quantity}}</span>
                            <button data-product-type="appliance" id="{{item.home_appliance.id}}"
                                class="volume-btn addToCart py-0 fw-bold" value="increase">+</button>
                        </div>

                    </div>
                    {%endfor%}
                    {%endif%}
                    {%endfor%}

                    {%if cart.num_of_item == 0 %}
                    <div>
                        <p class="cart-empty text-center mt-5"> Your Cart is currently empty</p>
                    </div>
                    {%endif%}
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-4">
            <div class="cart-summary-container position-relative px-sm-4 px-3">
                <h2 class="d-inline  cart-items-title item-font">CART SUMMARY</h2>
                <hr class="title-line">
                <div class="summary-item-container mb-4">
                    <span class="font-monospace cart-summary-item">Number of Items</span>
                    <span class="font-monospace cart-summary-item"
                        id="main_no_of_cart_items">x{{cart.num_of_item}}</span>
                </div>
                <div class="summary-item-container mb-1">
                    <span class="font-monospace ">Sub Total</span>
                    <span class=" font-monospace " id="main_total_cart_sum"> {{cart.total_cart_sum.1}}</span>
                </div>
                <div class="summary-item-container">
                    <span class="font-monospace ">Delivery fee</span>
                    <span class="font-monospace"
                        id="main_total_cart_sum_shipping_fee">{{cart.total_cart_sum_shipping_fee.1}}
                    </span>
                    {%if cart.total_cart_sum_shipping_fee.0 > 1000 %}
                    <span class="text-wrap  delivery-inquiry-info main-delivery-info" hidden>
                        outside estate products delivery fee is included</span>
                    <i class="bi bi-info-circle-fill deliveryInquiry main-delivery-icon"></i>
                    {%endif%}

                </div>
                <hr class="cart-summary-line">
                <div style="color: var(--color-primary);" class="summary-item-container mb-4">
                    <span class="font-monospace fw-bold">TOTAL</span>
                    <span class="font-monospace fw-bold"
                        id="main_total_checkout_cost">{{cart.total_checkout_cost.1}}</span>
                </div>

                {%if cart.num_of_item > 0%}
                <div class="d-flex justify-content-center">
                    <form action="{% url 'checkout-page' %}" method="post">
                        {%csrf_token%}
                        <input id="mainHiddenTotlalCheckoutCost" type="text" name="total_checkout_cost"
                            value="{{cart.total_checkout_cost.0}}" hidden>
                        <button class="px-3 py-2 font-monospace airtime-btn" type="submit">PROCEED TO CHECKOUT</button>
                    </form>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
</section>

{% endblock content%}