{% extends "header.html" %}
{%load static%}
{% block content %}

<section class="favourite">
    <div class="d-flex justify-content-start fav-options">
        <a class="airtime-btn fav-option {{ market|yesno:'active-fav-option,' }}"
            href="{% url 'favourite' option='market' %}">Markets</a>
        <a class="airtime-btn fav-option {{ estate|yesno:'active-fav-option,' }}"
            href="{% url 'favourite' option='estate' %}">Estates</a>
        <a class="airtime-btn fav-option {{ restaurant|yesno:'active-fav-option,' }}"
            href="{% url 'favourite' option='restaurant' %}">Restaurants</a>
        <a class="ms-auto me-0 airtime-btn fav-option {{ product|yesno:'active-fav-option,' }}"
            href="{% url 'favourite' option='product' %}">Products</a>
    </div>

    <div class="option-content ">
        {% if market or restaurant%}
        <div class="">
            <h1 style="margin-top:200px ;" class="text-center fw-bolder">Coming soon...</h1>
        </div>
        {% elif product%}
        {%if favourites.0 %}
        <h2 class="text-center mb-4 fw-bold text-light">Favourite Products </h2>
        {%else%}
        <div class="">
            <h1 style="margin-top:200px ;" class="text-center text-light fw-bolder ">
                You currently have no favourite products
            </h1>
        </div>
        {%endif%}
        <div class="row">
            {%for prod in favourites %}
            <div class="col-md-2 col-sm-3 col-4 mb-3 product-font">
                <div class="mb-0">
                    <div class="prod-img">
                        <!-- <img class="prod-img" src="{{prod.product_img.url}}" alt=""> -->
                    </div>
                    <p class="mb-0 text-center text-truncate">{{prod.name}}</p>
                </div>
                <div class="fav-car-container ">

                    <i id="{{prod.pk}}" data-fav-type="product"
                        class="bi {% if prod in favourites %} bi-heart-fill {%else%} bi-heart {%endif%} me-sm-3 me-1 addToFav"></i>
                    <p style="line-height: 1;" class="font-monospace mb-2 me-sm-3 me-1">₦{{prod.price}}</p>

                    <i id="{{prod.pk}}" data-trigger="icon" data-product-type="product"
                        class="bi {%if prod.name in cart.product_names %}bi-cart-check-fill{%else%}bi-cart{%endif%} addToCart"></i>
                </div>
            </div>
            {%endfor%}
        </div>

        {% elif estate %}
        {%if favourites.0 %}
        <h2 class="text-center mb-4 fw-bold text-light">Favourite Estate Shops & Vendor </h2>
        {%else%}
        <div class="">
            <h1 style="margin-top:200px ;" class="text-center text-light fw-bolder ">
                You currently have no estate favourite
            </h1>
        </div>
        {%endif%}
        <div class="row justify-content-center ps-lg-5 ps-sm-4">
            {% for shop in favourites %}
            <div class="col-md-4 col-6 px-0">
                <a style="color: inherit;" class="text-decoration-none"
                    href="{% url 'products-page' shop_type=shop.type|lower shop_name=shop.name %}">

                    {% if shop.type.lower == "vendor" %}
                    <svg class="{{shop.type|lower}}-logo" viewBox="0 0 200 212" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M200 111.104C200 166.332 155.228 211.104 100 211.104C44.7715 211.104 0 166.332 0 111.104C0 55.8751 69 53.1036 100 11.1036C131 -30.8964 200 55.8751 200 111.104Z"
                            fill="#D9D9D9" />
                        <image width="140" height="140" href="{{shop.img_logo.url}}"
                            onerror="this.style.display='none'"></image>
                    </svg>
                    {%elif shop.type.lower == "shop"%}
                    <svg class="{{shop.type|lower}}-logo" viewBox="0 0 434 206" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="434" height="206" fill="#D9D9D9" />
                        <image width="140" height="140" href="{{shop.img_logo.url}}"
                            onerror="this.style.display='none'"></image>
                    </svg>
                    {%endif%}


                    <div class="{{shop.type|lower}}-name-container">
                        <span class="fw-bold align-middle text-light shop-name {{shop.type|lower}}-name">
                            {{shop.name}}
                        </span>
                </a>
                <span><i id="{{shop.id}}" data-fav-type="estate"
                        class="bi {% if shop in favourites %} bi-heart-fill {%else%} bi-heart {%endif%} text-end shop-vendor-fav-icon {{shop.type|lower}}-fav-icon addToFav">
                    </i>
                </span>
            </div>
            <a style="color: inherit;" class="text-decoration-none"
                href="{% url 'products-page' shop_type=shop.type|lower shop_name=shop.name %}">
                <p class="shop-description {{shop.type|lower}}-description">
                    {{shop.description}}
                </p>
            </a>
        </div>
        {%endfor%}
    </div>
    {%endif%}

    </div>

</section>

{% endblock content %}