{% extends "header.html" %}
{%load static%}
{% block content %}

<section class="top">
    <div class="row justify-content-center">
        <div class="col-md-6 col-10">
            <div class="password-container">
                <h2 class="mb-4">RESET YOUR PASSWORD</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {%for field in form%}
                    <div class="mb-3 password-container">
                        <div class="error-message">{{field.errors}}</div>
                        <label for="{{field.id_for_label}}" class="form-label">{{field.label_tag}}</label>
                        <input type="password" class="form-control login-input" {{field}} <div class="psw_toggle"><i
                            class="bi bi-eye-fill"></i>
                    </div>
            </div>

            {%endfor%}

            <button type="submit" class="login-button">SUBMIT</button>
            </form>
        </div>
    </div>
    </div>
</section>

{%endblock content%}