{% extends "header.html" %}
{%load static%}
{% block content %}

<section class="top">
    <div class="row justify-content-center">
        <div class="col-md-6 col-10">
            <div class="password-container">
                <h4 class="mb-5 password-done-msg"><i class="bi bi-check-square-fill"></i> Your password has been
                    changed
                    successfully</h4>
                <h4 class="text-center">
                    Try Login in
                    <a style="text-decoration: none;" class=" login-button " href="{%url 'login-page'%}">LOGIN</a>
                </h4>
            </div>
        </div>
    </div>
    </div>

</section>

{%endblock content%}